<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" processIsolation="false" stopOnFailure="false" bootstrap="vendor/autoload.php" backupGlobals="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="OriginPHP Storage">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="PHPUNIT" value="true"/>
    <env name="ORIGIN_ENV" value="test"/>

    <!--
      docker run -d -p 2222:22 sickp/alpine-sshd 
    -->
    <env name="SFTP_HOST" value="localhost"/>
    <env name="SFTP_PORT" value="2222"/>
    <env name="SFTP_USERNAME" value="root"/>
    <env name="SFTP_PASSWORD" value="root"/>

    <!--
      docker run -d -p 21:21 -p 21000-21010:21000-21010 -e USERS="admin|secret"  delfer/alpine-ftp-server
    -->

    <env name="FTP_HOST" value="localhost"/>
    <env name="FTP_USERNAME" value="admin"/>
    <env name="FTP_PASSWORD" value="secret"/>

    <!-- 
      docker run -d -p 9000:9000 minio/minio server /data 
    -->
    <env name="S3_ENDPOINT" value="http://127.0.0.1:9000"/>
    <env name="S3_KEY" value="minioadmin"/>
    <env name="S3_SECRET" value="minioadmin"/>
    <env name="S3_BUCKET" value="test-bucket"/>
  </php>
</phpunit>

